@{
    ViewData["Title"] = "change password";
    ViewData["Description"] = "change password";

}
@model ChangePasswordViewModel
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>change password</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <form asp-action="ChangePassword" asp-controller="Profile" method="post" class="row g-12">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-md-6">
                    <label asp-for="OldPassword" class="form-label"></label>
                    <input type="Password" class="form-control is-valid" asp-for="OldPassword" id="OldPassword" required>
                    <span class="invalid-feedback" asp-validation-for="OldPassword">               </span>
                </div>
                <div class="col-md-6">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input type="Password" class="form-control " asp-for="NewPassword" id="NewPassword" required>
                    <span class="invalid-feedback" asp-validation-for="NewPassword">               </span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input type="Password" class="form-control " asp-for="ConfirmPassword" id="ConfirmPassword" required>
                    <span class="invalid-feedback" asp-validation-for="ConfirmPassword">               </span>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
