<div class="card">
    <h2 class="news" style="  margin: 10px 0 0 50px !important;
">TIN TỨC & SỰ KIỆN
    </h2>
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div class="relative mx-auto">
                        <img [src]="environment.API_URL + '/' + product.image" [alt]="product.name" />
                    </div>
                </div>
                <div class="mb-3 font-medium">
                    {{ product.name }}
                </div>
                <div class="flex justify-content-between align-items-center">
                    <div class="mt-0 font-semibold text-xl">
                        {{product.description }}
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>