* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* css header  */
  header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  header nav .nav-link.active {
    color: green !important;
  }
  header nav .nav-item {
    position: relative;
    margin-right: 12px;
  }
  
  header nav .nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: green;
    transition: all 0.4s;
  }
  header nav .nav-item:first-child {
    width: 100%;
  }
  header nav .nav-item:hover::before {
    width: 100%;
  }
  /* css carousel  */
  .cybercarousel .carousel-inner {
    height: 100vh;
  }
  .cybercarousel .carousel-inner .carousel-item {
    height: 100%;
  }
  .cybercarousel .carousel-inner img {
    filter: brightness(0.8) grayscale(30%);
  }
  .cybercarousel .carousel-inner .carousel-item {
    position: relative;
  }
  .cybercarousel .carousel-item .carousel__banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .cybercarousel .carousel-item .carousel__banner img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .cybercarousel .carousel-item .carousel__banner h2{
    font-size: 50px;
  }
  
  
  
  /* css cyberproject  */
  .cyberproject .project__title {
    max-width: 750px;
  }
  
  .cyberproject .project__content ul {
    justify-content: center;
    margin-bottom: 20px;
    border: none;
  }
  .cyberproject .project__content ul li {
    margin-right: 20px;
  }
  .cyberproject .project__content .nav-item button.active {
    background-color: #35a22c;
    color: white;
    border: none;
  }
  .cyberproject .project__content .nav-item button {
    border: 1px solid black;
    color: black;
    border-radius: 5px;
  }
  .cyberproject .project__content .tab-content .project__item img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .cyberproject .project__content .tab-content .project__item {
    /* border-radius: 15px; */
    margin: 20px 0;
    transition: all 0.5s;
  }
  .cyberproject .project__content .tab-content .project__item .text {
    padding: 20px 20px 30px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0 0 15px 15px;
    text-align: center;
    transition: all 0.4s;
  }
  .cyberproject .project__content .tab-content .project__item:hover .text {
    border: 1px solid #35a22c;
    border-top: none;
  }
  .cyberproject .project__content .tab-content .project__item h3 {
    font-size: 20px;
    font-weight: 400;
    transition: all 0.4s;
  }
  .cyberproject .project__content .tab-content .project__item:hover h3 {
    color: #35a22c;
  }
  /* css available */
  .available {
    background-image: url(./../img/3.jpg);
    background-attachment: fixed;
    position: relative;
  }
  .available .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 10, 12, 0.72);
  }
  .available .available_content .avai__item {
    background-color: rgba(255,255,255,.1);
    border: 1px solid transparent;
    transition: all 0.4s;
  }
  .available .available_content .avai__item:hover{
     background-color: black;
    border: 1px solid white;
  }
  
  @media screen and (max-width=576px) {
    .cybercarousel .carousel-item .carousel__banner h2{
      font-size: 30px;
    }
  }