::ng-deep .p-checkbox .p-checkbox-box {
  border: 1px solid rgba(109, 103, 103, 0.347);
  height: 15px;
  width: 15px;
  border-radius: 0;
}
::ng-deep .p-datatable-table {
  tr {
    border-top: 1px solid #ccc; /* Viền mỏng phía trên */
    border-bottom: 1px solid #ccc; /* Viền mỏng phía dưới */
    border-left: none; /* Không có viền bên trái */
    border-right: none; /* Không có viền bên phải */
  }
}
