:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #12b128);
    --scrollbar-track-color: var(--cui-body-color, #990606);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
  // # ng-scrollbar .sidebar-nav .nav-group .nav-group-items {
  //   margin-left: 15px !important;
  // }
}

:host ::ng-deep .sidebar-nav .nav-group-items .nav-link .nav-icon  {
  // padding-left:40px !important;
  padding: 0 10px 0 40px !important;
}
