@using TPBlog.Core.SeedWorks.Constants
@{
    ViewData["Title"] = "reset password";
    ViewData["Description"] = "reset password";

}
@model ResetPasswordViewModel
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>reset password</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <form asp-action="ResetPassword" asp-controller="Auth" method="post" class="row g-12">
                <input type="hidden" asp-for="Code"/>
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                @if (TempData[SystemConstants.FormSuccessMsg] != null)
                {
                    <div class="alert alert-success">
                        @TempData[SystemConstants.FormSuccessMsg]
                    </div>
                }
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label"></label>
                    <input type="Email" class="form-control " asp-for="Email" id="Email" required>
                    <span class="invalid-feedback" asp-validation-for="Email"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Password" class="form-label"></label>
                    <input type="Password" class="form-control " asp-for="Password" id="Password" required>
                    <span class="invalid-feedback" asp-validation-for="Password"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input type="Password" class="form-control " asp-for="ConfirmPassword" id="ConfirmPassword" required>
                    <span class="invalid-feedback" asp-validation-for="ConfirmPassword">               </span>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
