<p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
  <p-header> Quản lý Thông Báo </p-header>
  <div class="row">
    <div class="col">
      <button appPermission appPolicy="Permissons.Announcements.Create" pButton type="button" label="Thêm"
        icon="fa fa-plus" (click)="showAddModal()" class="p-button-sm p-button-success ms-1"></button>
      <button appPermission appPolicy="Permissons.Announcements.Delete" pButton type="button" label="Xóa"
        icon="fa fa-trash" *ngIf="selectedItems.length > 0" (click)="deleteItems()"
        class="p-button-sm p-button-danger ms-1"></button>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input id="txtKeyword" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword" placeholder="Nhập tên..."
            type="text" />
        </div>
        <div class="col">
          <button type="button" pButton (click)="loadData()">Tìm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
      [metaKeySelection]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Tên Title</th>
          <th>Nội Dung</th>
          <th>UserName</th>
          <th>Ngày Tạo</th>
          <th>Dự Án</th>
          <th>Tình Trạng </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td style="width: 10px">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.title }}</td>
          <td>{{ row.content }}</td>
          <td>{{ row.userName }}</td>
          <td>{{ row.dateCreated | date : 'dd-MM-yyyy hh:mm' }}</td>
          <td>{{ row.projectName }}</td>
          <!-- <td>{{ row.status }}</td> -->
          <td style="width: 150px">
            <p-badge *ngIf="row.status == 1" value="Kích hoạt" severity="success"></p-badge>
            <p-badge *ngIf="row.status == 0" value="Khoá" severity="danger"></p-badge>
          </td>
          <td>
            <!-- <button pButton class="p-button-sm" (click)="showPermissionModal(row.id, row.name)">Phân quyền</button> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>

  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <p-progressSpinner [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
      strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
</p-panel>